[submodule "benchmarks/vendor/google/benchmark"]
	path = benchmarks/vendor/google/benchmark
	url = https://github.com/google/benchmark
[submodule "ispcrt/tests/vendor/google/googletest"]
	path = ispcrt/tests/vendor/google/googletest
	url = https://github.com/google/googletest.git
