# Copyright 2021-2024, Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause

name: Docs check

permissions: read-all

on:
  push:
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "docs/**"
  workflow_dispatch:

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
      with:
        egress-policy: audit

    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Check environment
      run: |
        cat /proc/cpuinfo

    - name: Install dependencies
      run: |
        echo "APT::Acquire::Retries \"3\";" | sudo tee -a /etc/apt/apt.conf.d/80-retries
        sudo apt-get update
        sudo apt-get install python3-docutils

    - name: Check docs build
      run: |
        cd docs
        ./build.sh

