# Copyright 2022-2025, Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause

# Nightly Linux run.

name: Nightly tests / LLVM 20.1

permissions: read-all

# Run daily - test sse2-avx512 targets @ -O0/-O1/-O2
on:
  schedule:
    - cron:  '0 7 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  define-targets:
    runs-on: ubuntu-latest
    outputs:
      targets: >-
        ["generic-i1x4", "generic-i1x8", "generic-i1x16", "generic-i1x32",
         "generic-i8x16", "generic-i8x32",
         "generic-i16x8", "generic-i16x16",
         "generic-i32x4", "generic-i32x8", "generic-i32x16",
         "generic-i64x4",
         "sse2-i32x4", "sse2-i32x8",
         "sse4-i8x16", "sse4-i16x8", "sse4-i32x4", "sse4-i32x8",
         "avx1-i32x4", "avx1-i32x8", "avx1-i32x16", "avx1-i64x4",
         "avx2-i8x32", "avx2-i16x16", "avx2-i32x4", "avx2-i32x8", "avx2-i32x16", "avx2-i64x4",
         "avx2vnni-i32x4", "avx2vnni-i32x8", "avx2vnni-i32x16",
         "avx512skx-x4", "avx512skx-x8", "avx512skx-x16", "avx512skx-x64", "avx512skx-x32",
         "avx512icl-x4", "avx512icl-x8", "avx512icl-x16", "avx512icl-x64", "avx512icl-x32",
         "avx512spr-x4", "avx512spr-x8", "avx512spr-x16", "avx512spr-x64", "avx512spr-x32",
         "avx10.2-x4", "avx10.2-x8", "avx10.2-x16", "avx10.2-x64", "avx10.2-x32"]
    steps:
      - run: echo "Defining targets"

  linux-build-ispc-llvm:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        submodules: true

    - name: Install dependencies
      run: |
        .github/workflows/scripts/install-build-deps.sh

    - name: Check environment
      run: |
        which -a clang
        cat /proc/cpuinfo

    - name: Build package
      run: |
        .github/workflows/scripts/build-ispc.sh

    - name: Sanity testing (make check-all, make test)
      run: |
        .github/workflows/scripts/check-ispc.sh

    - name: Upload package
      uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
      with:
        name: ispc_llvm_linux
        path: build/ispc-trunk-linux.tar.gz

  linux-test:
    needs: [define-targets, linux-build-ispc-llvm]
    strategy:
      fail-fast: false
      matrix:
        arch: [x86, x86-64]
    uses: ./.github/workflows/reusable.ispc.test.yml
    with:
      platform: linux
      architecture: ${{ matrix.arch }}
      artifact_name: ispc_llvm_linux
      targets: ${{ needs.define-targets.outputs.targets }}
      optsets: -O0 -O1 -O2

  win-build-ispc-llvm:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        submodules: true

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0.0

    - name: Install dependencies
      run: |
        .github/workflows/scripts/install-build-deps.ps1

    - name: Check environment
      shell: cmd
      run: |
        wmic cpu get caption, deviceid, name, numberofcores, maxclockspeed, status

    - name: Build package
      run: |
        .github/workflows/scripts/build-ispc.ps1

    - name: Sanity testing (make check-all, make test)
      run: |
        .github/workflows/scripts/check-ispc.ps1

    - name: Upload package
      uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
      with:
        name: ispc_llvm_win
        path: build/ispc-trunk-windows.zip

  win-test:
    needs: [define-targets, win-build-ispc-llvm]
    strategy:
      fail-fast: false
      matrix:
        arch: [x86, x86-64]
    uses: ./.github/workflows/reusable.ispc.test.yml
    with:
      platform: windows
      architecture: ${{ matrix.arch }}
      artifact_name: ispc_llvm_win
      targets: ${{ needs.define-targets.outputs.targets }}
      optsets: -O0 -O1 -O2
