# Copyright 2026, Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause

name: PowerPC64 Tests

permissions: read-all

on:
  pull_request:
    paths:
      - 'src/**'
      - 'builtins/**'
      - 'cmake/**'
      - 'CMakeLists.txt'
      - '.github/workflows/ppc64le.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ppc64-test:
    name: PowerPC64LE generic-i32x4 test
    runs-on: ubuntu-24.04-ppc64le

    steps:
    - name: Install dependencies
      run: |
        apt-get update
        # Build tools and LLVM
        sudo apt-get install -y git curl cmake xz-utils m4 flex bison python3 python3-dev libtbb-dev g++-multilib
        sudo apt-get install -y llvm llvm-dev clang libclang-dev llvm-19-tools

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: true

    - name: Check tools
      run: |
        cmake --version
        llvm-config --version
        clang --version
        gcc --version
        g++ --version

    - name: Build ISPC with PPC64 support
      run: |
        PATH=/usr/lib/llvm-20/bin:$PATH cmake -B build -DPPC64_ENABLED=ON -DARM_ENABLED=OFF
        cmake --build build -j"$(nproc)"

    - name: Run lit tests
      run: |
        cmake --build build --target check-all

    - name: Run PPC64LE tests
      run: |
        PATH="$PWD"/build/bin:"$PATH" \
        python3 scripts/run_tests.py \
          --target=generic-i32x4 \
          --arch=ppc64le \
          --compiler=g++ \
          -o O2
