# Copyright 2025, Intel Corporation
# SPDX-License-Identifier: BSD-3-Clause

name: RISC-V Tests

permissions: read-all

on:
  workflow_call:
    inputs:
      artifact_name:
        description: 'Name of the artifact to test'
        required: true
        type: string

jobs:
  riscv-test:
    name: RISC-V rvv-x4 test
    runs-on: ubuntu-22.04
    container:
      image: archlinux@sha256:2fcdd55448255f87dd337ef5c0fdbd5e4fec432345db1aa5faea4bf2764b4ca8
      options: --privileged

    steps:
    - name: Setup Arch Linux
      run: |
        pacman -Syu --noconfirm
        pacman -S --needed --noconfirm git cmake make gcc-libs glibc lib32-glibc gcc m4 flex bison python onetbb
        pacman -S --needed --noconfirm riscv64-linux-gnu-gcc qemu-user
        pacman -S --needed --noconfirm llvm clang

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Download package
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ${{ inputs.artifact_name }}

    - name: Install dependencies and unpack artifacts
      run: |
        tar xf ispc-trunk-linux.tar.gz
        echo "$GITHUB_WORKSPACE/ispc-trunk-linux/bin" >> "$GITHUB_PATH"

    - name: Check tools
      run: |
        riscv64-linux-gnu-gcc --version
        qemu-riscv64 --version
        clang --version

    - name: Run RISC-V tests
      run: |
        python scripts/run_tests.py \
          --target=rvv-x4 \
          --arch=riscv64 \
          -f "--cpu=spacemit-x60" \
          --wrap-exe="qemu-riscv64 -cpu max,v=true,g=true,vlen=256" \
          --compiler=riscv64-linux-gnu-g++ \
          -o O2
